[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "apt-get update && apt-get install -y --no-install-recommends libxcb-shm0 libx11-xcb1 libx11-6 libxcb1 libxext6 libxrandr2 libxcomposite1 libxcursor1 libxdamage1 libxfixes3 libxi6 libgtk-3-0 libpangocairo-1.0-0 libpango-1.0-0 libatk1.0-0 libcairo-gobject2 libcairo2 libgdk-pixbuf-2.0-0 libglib2.0-0 libxrender1 libasound2 libfreetype6 libfontconfig1 libdbus-1-3 && rm -rf /var/lib/apt/lists/*",
  "npm install"
]

